@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

$manrope: 'Manrope', sans-serif;
$roboto: 'Roboto', sans-serif;

$gray: 25;
$dark_gray: $gray - 0.2 * $gray;
$light_gray: $gray + 0.9 * $gray;

body {
  // Dark gray background
  background-color: rgb($dark_gray, $dark_gray, $dark_gray);

  // Text colour
  color: rgb(200, 200, 200); // A not so bright white

  // Default font family
  font-family: $roboto;
}

$content-padding: 2em;

#content {
  width: 50vh;
  height: 50vh;

  // Center vertically and horizontally
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // A ligter gray shade for the background
  background-color: rgb($gray, $gray, $gray);

  // Make borders a little bit less sharp
  border-radius: 10px;

  h1 {
    margin-top: 0;
    text-align: center;
    font-family: $manrope;
  }

  padding: $content-padding;
}

%header_and_footer {
  position: fixed;
  font-family: $manrope;

  a {
    text-decoration: none;
  }
}
header {
  @extend %header_and_footer;

  top: 1%;
}
footer {
  @extend %header_and_footer;

  bottom: 1%;
  text-align: center;
  width: 100%;
}

::selection {
  background-color: rgb($light_gray, $light_gray, $light_gray);
}

a {
  color: rgb(200, 200, 200); // A not so bright white
}

.icon {
  width: 3em;
  height: 3em;

  background-size: 3em 3em;
  background-repeat: no-repeat;

  &.github {
    background-image: url('../assets/github-light.svg');

    &:hover {
      background-image: url('../assets/github-colour.svg');
    }
  }
  &.instagram {
    background-image: url('../assets/instagram-dark.svg');
    &:hover {
      background-image: url('../assets/instagram-colour.svg');
    }
  }
  &.twitter {
    background-image: url('../assets/twitter-dark.svg');
    &:hover {
      background-image: url('../assets/twitter-colour.svg');
    }
  }
}

.icon-list {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;

  position: absolute;
  margin-left: -$content-padding;
  padding: inherit;
  bottom: 1%;
}
